# Multiple Features

In [1]:
import pandas as pd
import numpy as np

In [3]:
size =[2104,1416,1534,852]
nbr_bedrooms = [5,3,3,2]
nbr_floors = [1,2,2,1]
age = [45,40,30,36]
price = [460,232,315,178]

In [9]:
d = {'size':size,'nbr_bedrooms':nbr_bedrooms,'nbr_floors':nbr_floors,'age':age,'price':price}

In [10]:
df = pd.DataFrame(d)

## 1. Definitions

In [11]:
df

   size  nbr_bedrooms  nbr_floors  age  price
0  2104             5           1   45    460
1  1416             3           2   40    232
2  1534             3           2   30    315
3   852             2           1   36    178

$y$ : the element to predict here is the **price**  

$x_n$ : the features used to predict y **(size, nbr of bedrooms, nbr of floors, age )**  

$n$ : number of features. here $n = 4$

$x^{(i)} : $ input of $i^{th}$ training example  

* **ex:** $x^{(2)}$, with $x^{(2)}$ being a vector

In [18]:
#(pandas is indexed at 0)
df.loc[1,['size','nbr_bedrooms','nbr_floors','age']]

size            1416
nbr_bedrooms       3
nbr_floors         2
age               40
Name: 1, dtype: int64

$x^{(i)}_j$ : value of feature $j$ in $i^{th}$ training example  
* **ex:** $x^{(2)}_3$

In [21]:
#(pandas is indexed at 0)
df.iloc[2][2]

2

## 2. Hypothesis

**General rule**

$h_\theta(x) = \theta_0 + \theta_1x_1 + \theta_2x_2 + ... + \theta_nx_n$

**In our case**

$h_\theta(x) = \theta_0 + \theta_1x_1 + \theta_2x_2 + \theta_3x_3 + \theta_4x_4$

### Writing the hypothesis formula in term on Matrices

with $x_0 = 1$. which gives $\theta_0x_0 = \theta_0$

Features vector as $x$  

Parameters vector as $\theta$

$ x = \begin{bmatrix}x_0 \\x_1 \\x_2 \\x_3 \\x_4 \end{bmatrix}$     $\space \space \space$ $\theta = \begin{bmatrix} \theta_0 \\ \theta_1 \\\theta_2 \\ \theta_3 \\ \theta_4 \end{bmatrix}$

To end up with our hypothesis formula, we can think of it as the product of 2 vectors. $x$ and the transpose of $\theta$

$ x = \begin{bmatrix}x_0 \\x_1 \\x_2 \\x_3 \\x_4 \end{bmatrix}$     $\space \space \space$ $\theta^T = \begin{bmatrix} \theta_0 & \theta_1 &\theta_2 & \theta_3 & \theta_4 \end{bmatrix}$

So we can resume the formula to :
$h_\theta(x) = h_\theta(x) = \theta_0 + \theta_1x_1 + \theta_2x_2 + ... + \theta_nx_n = \theta^Tx$

### Hypothesis computing in Python

In [23]:
from sympy import *

In [25]:
X = Matrix(['x0','x1','x2','x3','x4'])
X

Matrix([
[x0],
[x1],
[x2],
[x3],
[x4]])

In [26]:
T = Matrix([['T0','T1','T2','T3','T4']])
T

Matrix([[T0, T1, T2, T3, T4]])

In [27]:
H = T.multiply(X)
H

Matrix([[T0*x0 + T1*x1 + T2*x2 + T3*x3 + T4*x4]])